
<main class="container">
    <div class="index-grid">
        <section class="grid-col-span-2">
            <h1 class="index-title">Bästsäljande just nu</h1>
            <div class="horizontal-cards">
                <a asp-controller="Home" asp-action="Menu">
                    <article>
                        <img src="https://picsum.photos/150" />
                        <h3>Kebabpizza</h3>
                    </article>
                </a>
               <a asp-controller="Home" asp-action="Menu">
                    <article>
                        <img src="https://picsum.photos/150" />
                        <h3>Falafelrulle</h3>
                    </article>
                </a>
               <a asp-controller="Home" asp-action="Menu">
                    <article>
                        <img src="https://picsum.photos/150" />
                        <h3>Calzone</h3>
                    </article>
                </a>
            </div>
           

        </section>
        <section>
            <h1>Öppettider</h1>
             <ul class="indexlist">
                <li>Måndag-Fredag: <span class="primary-colored-text">10:00-22:00</span> </li>
                <li>Lördag: <span class="primary-colored-text">11:00-21:30</span> </li>
                <li><span class="accent-colored-text">Söndag</span>: <span class="primary-colored-text">11:00-20:00</span></li>
            </ul>
            <h1>Hitta Hit</h1>
            <ul class="indexlist">
                <li>Stora Vägen 52</li>
                <li>123 45 Postorten</li>
                <li>Staden</li>
            </ul>
        </section>
        <section class="premiuminfo">
            <h1>Är du Premiummedlem?</h1>
            <p>
                Fråga om <span class="accent-colored-text">medlemskap</span> nästa gång du kommer in.
            </p>
            <p>
                Som medlem får du 20% rabatt när du köper <span class="accent-colored-text">tre</span> eller fler maträtter!               
            </p>
            <p>
                Var 10:e maträtt är även <span class="accent-colored-text">GRATIS</span>!!
            </p>
        </section>
    </div>
</main>